{% extends 'base.html.twig' %}

{% block title %}Calendar index
{% endblock %}

{% block body %}
	<h1>Calendar index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>CreatedAt</th>
				<th>Start</th>
				<th>End</th>
				<th>Title</th>
				<th>Description</th>
				<th>Teacher</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
					
		</tbody>
			{% for calendar in calendars %}
				<tr>
					<td>{{ calendar.teacherId }}</td>
					<td>{{ calendar.createdAt ? calendar.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ calendar.title }}</td>
					<td>{{ calendar.Description }}</td>
                    <td>{{ calendar.teacherName }}</td>
					<td>
						<a href="{{ path('calendar_show', {'id': calendar.teacherId}) }}">consulter</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
				
							
	</table>

	
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-primary mt-3" id="envoyerFormulaire" data-bs-toggle="modal" data-bs-target="#calendarForm1">Ajouter un nouvel évènement</button>
					</div>

	<div
		class="tab-pane active" id="users">
		{#---------------------------------------------Modal-------------------------------------------- #}
		{% embed "components/modal.html.twig" %}
			{% set modalType = "modal-lg" %}
			{% set id = "calendarForm1" %}
			{% set buttonTitle = "Ajouter un évènement" %}
			{% block modalTitle %}Ajouter un évènement
			{% endblock %}
			{% block dashboard %}
				{% include "calendar/_form.html.twig" %}
			{% endblock %}
		{% endembed %}
		{#--------------------------------------------Fin modal------------------------------------------- #}


	
	</div>


{% endblock %}
