{% extends 'base.html.twig' %}

{% block title %}
	Calendar
{% endblock %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}


{% block body %}

	<div
		class="tab-pane active" id="users">
		{#---------------------------------------------Modal-------------------------------------------- #}
		{% embed "components/modal.html.twig" %}
			{% set modalType = "modal-lg" %}
			{% set id = "calendarFomr2" %}
			{% set buttonTitle = "Ajouter un utilisateur" %}
			{% block modalTitle %}Nouvelle évènement
			{% endblock %}
			{% block dashboard %}
				{% include "calendar/_form.html.twig" %}
			{% endblock %}
		{% endembed %}
		{#--------------------------------------------Fin modal------------------------------------------- #}


	
	</div>


	<a href="{{path('dashboard-teacher')}}"><button class="btn btn-primary mb-4">Retour</button></a>

	{# --------------------------------------------------Calendar------------------------------------------ #}

<div id="calendrier"></div>

	{# --------------------------------------------------Fin Calendar------------------------------------------ #}


{#----------------------------------------------- .Launch Modal info Button--------------------------------------#}

<!-- .modal -->
<div class="modal fade" id="Mysmallmodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
                	&times;
                </button> 
				<h4 class="modal-title">
                	Notification
                </h4>                                                             
			</div> 
			<div class="modal-body">
				This is a small size modal.
			</div>   
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
                	Close
                </button>
				<button type="button" class="btn btn-primary">
                	Ok
                </button>                                 
			</div>
		</div>                                                                       
	</div>                                      
</div>


{#-----------------------------------------------Fin Modal info Button------------------------------------------#}




<script>
	window.onload = () => {
		
	let calendarElt = document.querySelector("#calendrier")

	let calendar = new FullCalendar.Calendar(calendarElt, {

			initialView: 'dayGridMonth',
			locale: 'fr',
			timeZone: 'Europe/Paris',
			headerToolbar: {
				start: 'prev,next today',
				center: 'title',
				end: 'dayGridMonth'
			},
			selectable: true,
			editable: true,
			eventResizableFromStart: true,
			events: [{% for calendar in calendar %}{
				id: '{{calendar.id}}',
				title:'{{ calendar.title }}',
				start: '{{ calendar.start |date('Y-m-d H:i:s') }}',
				end: '{{ calendar.end |date('Y-m-d H:i:s') }}',
				description: '{{ calendar.description }}',
				backgroundColor: '{{ calendar.backgroundColor }}'

				},{% endfor %}]


			})

			calendar.on('eventChange', (e) => {


			let url = `/api/${e.event.id}/edit`
			let donnees = {
				"title": e.event.title,
				"start": e.event.start,
				"end": e.event.end,
				"description": e.event.extendedProps.description,
				"backgroundColor": e.event.backgroundColor
				

			}	
	
				})

		calendar.render()

	}

</script>
{% endblock %}
