{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
 {% block page_title %}Mot de passe oublié?{% endblock %} 
 {% block body %}

<!-- PAGE -->
    <div class="login-img">
    <div class="page">
    <div class="">
<!-- Theme-Layout -->

            <!-- CONTAINER OPEN -->
    <div class="col col-login mx-auto mt-7">
        <div class="text-center">
                    <img src="../assets/images/brand/school.png" class="header-brand-img" alt="">
        </div>
    </div>

            <div class="container-login100">
                <div class="wrap-login100 p-6">
                    <form class="login100-form validate-form" method="post">

                       
                        <span class="login100-form-title pb-5">
                            Mot de passe oublié?
                        </span>
                        <div class="panel panel-primary">
                            <div class="tab-menu-heading">
                                <div class="tabs-menu1">
                                    <!-- Tabs -->
                                    <ul class="nav panel-tabs">
                                        <li class="mx-0"><a href="#tab5" class="active" data-bs-toggle="tab">Indiquer votre email</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body tabs-menu-body p-0 pt-5">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        {# <div class="wrap-input100 validate-input input-group"
                                            data-bs-validate="Valid email is required: ex@abc.xyz">
                                            <a href="#" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-email text-muted" aria-hidden="true"></i>
                                            </a> #}
                                            {{form_start(form)}}
                                            {{form_widget(form.email)}}
                                            {{form_widget(form.submit)}}
                                            {{form_end(form)}}
                                        {# </div> #}

                                        
                                       
                                        <div class="container-login100-form-btn">               
                                            <button type"submit"><a href="{{path('login')}}" 
                                                class="login100-form-btn btn-info">Annuler</a>
                                            </button>
                                        </div>
                                        <div class="text-center pt-3">
                                            <p class="text-dark mb-0"><a href="https://unlock-technologies.fr"
                                                class="text-primary ms-1">Unlock-Technologies</a></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->

{% endblock %}