{% block sessions %}

	<div class="table-responsive">
		<table class="table table-bordered text-nowrap border-bottom" id="data-table-sessions">
			<thead>
				<tr>
					<th class="wd-15p border-bottom-0">Intitulé</th>
					<th class="wd-15p border-bottom-0">Date de début</th>
					<th class="wd-15p border-bottom-0">Date de fin</th>
					<th class="wd-20p border-bottom-0">Date de création</th>
					{% if app.user and app.user.role == 'Administrateur'%}
					<th class="wd-10p border-bottom-0">Actions</th>
					{% endif %}

				</tr>
			</thead>
			<tbody>
			{% if results.students is defined %}
				{% for session in results.sessions %}
					<tr>
						<td>{{ session.name }}</td>
						<td>{{ session.startSession|date("d/m/Y") }}</td>
						<td>{{ session.endSession|date("d/m/Y") }}</td>
						<td>{{ session.createdAt|date("d/m/Y") }}</td>

						{% if app.user and app.user.role == 'Administrateur'%}
						<td name="bstable-actions">
							<div
								class="btn-list">
								{# Bouton modifier #}
								<a href="{{path('edit-session', {'id': session.id})}}" id="bEdit" type="button" class="btn btn-sm btn-primary" target="_blank">
									<span class="fe fe-edit"></span>
								</a>
								{# fin bouton modifier #}

								{# Bouton supprimer #}
								<a href="{{ path('delete-session', {'id': session.id})}}" id="bDel" type="button" class="btn btn-sm btn-danger deleteSession">
									<span class="fe fe-trash-2"></span>
								</a>
								{# fin bouton supprimer #}
							</div>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				{% else %}
					<p>Aucune session</p>
				{% endif %}

			</tbody>
		</table>
	</div>

{% endblock %}
