{% block users %}


	<div class="table-responsive">
		<table class="table table-bordered text-nowrap border-bottom" id="data-table-users">
			<thead>
				<tr>
					<th class="wd-15p border-bottom-0">Photo</th>
					<th class="wd-15p border-bottom-0">Prénom</th>
					<th class="wd-15p border-bottom-0">Nom</th>
					<th class="wd-20p border-bottom-0">Role</th>
					<th class="wd-10p border-bottom-0">Email</th>
					{% if app.user and app.user.role == 'Administrateur'%}
						<th class="wd-10p border-bottom-0">Actions</th>
					{% endif %}

				</tr>
			</thead>
			<tbody>
				{% for user in results.users %}
					<tr>
						{% if user.picture %}
							<td>
								<a href="{{path('profil_user', {'id': user.id} ) }}"><img style="height:100px;width:100px;" src="{{ asset('uploads/user/' ~ user.picture)}}" alt=""></a></td>
							{% elseif user.sexe == 0 %}
								<td>
									<a href="{{path('profil_user',{'id': user.id} )}}"><img style="height:100px;width:100px;" src="{{ asset('uploads/avatar/avatarMen.png')}}" alt=""></a></td>
								{% elseif user.sexe == 1 %}
									<td>
										<a href="{{path('profil_user',{'id': user.id})}}"><img style="height:100px;width:100px;" src="{{ asset('uploads/avatar/avatarWoman.png')}}" alt=""></a></td>
									{% endif %}

									<td>{{ user.firstname }}</td>
									<td>{{ user.lastname }}</td>
									<td>{{ user.role }}</td>
									<td>{{ user.email }}</td>

									{% if app.user and app.user.role == 'Administrateur'%}
										<td name="bstable-actions">
											<div
												class="btn-list">
												{# Bouton modifier #}
												<a href="{{path('edit_user',{'id': user.id})}}" id="bEdit" type="button" class="btn btn-sm btn-primary" target="_blank">
													<span class="fe fe-edit"></span>
												</a>
												{# fin bouton modifier #}

												{# Bouton supprimer #}
												<a href="{{path('delete_user',{'id': user.id})}}" id="bDel" type="button" class="btn btn-sm btn-danger deleteUser">
													<span class="fe fe-trash-2"></span>
												</a>
												{# fin bouton supprimer #}
											</div>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</tr>
				</table>
			</tbody>
		</div>
	{% endblock %}
