
{% block admin %}

<div class="table-responsive">
	<table class="table table-bordered text-nowrap border-bottom" id="data-table-admins">
		<thead>
			<tr>
				<th class="wd-15p border-bottom-0">Photo</th>
				<th class="wd-15p border-bottom-0">Prénom</th>
				<th class="wd-15p border-bottom-0">Nom</th>
				<th class="wd-20p border-bottom-0">Role</th>
				<th class="wd-10p border-bottom-0">Email</th>
                {% if app.user and app.user.role == 'Administrateur'%}
				<th class="wd-10p border-bottom-0">Actions</th>
                {% endif %}

			</tr>
		</thead>
		<tbody>
		{% if results.admins is defined %}
			{% for admin in results.admins %}
				<tr>
				{% if admin.picture %}
						<td><a href="{{path('profil_user', {'id': admin.id} ) }}"><img style="height:100px;width:100px;" src="{{ asset('uploads/user/' ~ admin.picture)}}" alt="Photo de profil"></a></td>
					{% elseif admin.sexe == 0 %}
					<td><a href="{{path('profil_user', {'id': admin.id} ) }}"><img style="height:100px;width:100px;" src="{{ asset('uploads/avatar/avatarMen.png')}}" alt="Photo de profil"></a></td>
					{% elseif admin.sexe == 1 %}
					<td><a href="{{path('profil_user', {'id': admin.id} ) }}"><img style="height:100px;width:100px;" src="{{ asset('uploads/avatar/avatarWoman.png')}}" alt="Photo de profil"></a></td>
					{% endif %}
					<td>{{ admin.firstname }}</td>
					<td>{{ admin.lastname }}</td>
					<td>{{ admin.role }}</td>
					<td>{{ admin.email }}</td>

                   {% if app.user and app.user.role == 'Administrateur'%}
					<td name="bstable-actions">
						<div
							class="btn-list">
							{# Bouton modifier #}
							<a href="{{path('edit_user',{'id': admin.id})}}" id="bEdit" type="button" class="btn btn-sm btn-primary" target="_blank">
								<span class="fe fe-edit"></span>
							</a>
							{# fin bouton modifier #}

							{# Bouton supprimer #}
							<a href="{{path('delete_user',{'id': admin.id})}}" id="bDel" type="button" class="btn btn-sm btn-danger">
								<span class="fe fe-trash-2"></span>
							</a>
							{# fin bouton supprimer #}
						</div>
					</td>
                    {% endif %}
				</tr>
			{% endfor %}
			{% else %}
				<p>Aucun admin</p>
			{% endif %}

		</tbody>
	</table>
</div>
{% endblock %}
