{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}

	<!-- BACKGROUND-IMAGE -->
	<div
		class="login-img">

		<!-- PAGE -->
		<div class="page">
			<div class="">
				<!-- Theme-Layout -->

				<!-- CONTAINER OPEN -->
					<div class="col col-login mx-auto mt-7"> <div class="text-center">
						<img src="../assets/images/brand/school.png" class="header-brand-img m-0" alt="">
					</div>
				</div>
				<div class="container-login100">
					<div class="wrap-login100 p-6 row">
						<span class="login100-form-title">
							Formulaire de contact
						</span>
						<div class="col">
							{{form_start(form)}}
							{% for message in app.flashes('contact_success') %}
								<div class="col-md-12 alert alert-success alert-dismissible fade show" role="alert">
									{{ message }}
									<button type="button" class="close" data-dismiss="alert" aria-label="close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor %}
                            {% for message in app.flashes('contact_error') %}
								<div class="col-md-12 alert alert-danger alert-dismissible fade show" role="alert">
									{{ message }}
									<button type="button" class="close" data-dismiss="alert" aria-label="close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor %}
							<div class="wrap-input100 validate-input input-group" data-bs-validate="">
								<a href="#" class="input-group-text bg-white text-muted">
									<i class="mdi mdi-account" aria-hidden="true" ></i>
								</a>
								{{form_widget(form.name)}}
							</div>
							<div class="wrap-input100 validate-input input-group" data-bs-validate="Valid email is required: ex@abc.xyz">
								<a href="#" class="input-group-text bg-white text-muted">
									<i class="zmdi zmdi-email" aria-hidden="true"></i>
								</a>
								{{form_widget(form.email)}}
							</div>
							<div class="wrap-input100 validate-input input-group" data-bs-validate="">
								<a href="#" class="input-group-text bg-white text-muted">
									<i class="zmdi zmdi-phone" aria-hidden="true"></i>
								</a>
								{{form_widget(form.phone)}}
							</div>
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.objet, {"label":"Objet de la demande : "})}}
						</div>
						<div class="form-group col-md-12">
							{{form_row(form.message, {"label":"Votre message : "})}}
						</div>
						<div class="container-login100-form-btn">
							{{form_widget(form.submit)}}
						</div>
						{{form_end(form)}}
						<div class="text-center pt-3">
							<p class="text-dark mb-0">Vous avez déjà un compte?<a href="{{path('login')}}" class="text-primary ms-1">Connexion</a>
							</p>
						</div>
					</div>
				</div>
				<!-- CONTAINER CLOSED -->
			</div>
		</div>
		<!-- END PAGE -->

	</div>
	<!-- BACKGROUND-IMAGE CLOSED -->
{% endblock %}
