
<script>

var ctx = document.getElementById("chart-monthly").getContext('2d');
var labels = [{%for data in results.dateByMonth %}

    {% set trans_month_hash = {"January": "Janvier", "February": "Février", "March": "Mars",
        "April": "Avril", "May": "Mai", "June": "Juin", "July":"Juillet", "August": "Aout",
        "September": "Septembre", "October": "Octobre", "December": "Decembre"} 
    %} "{{ trans_month_hash[data.0.start | date('F')] }}", {% endfor %}];

var data = [{%for data in results.dateByMonth %}{{ data.total }}, {% endfor %}];

var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [
            {
            label: "Jours",
            backgroundColor: "#2A52EB",
            borderColor: "#20d489",
            pointBackgroundColor: "#f1bd00c0",
            pointBorderColor: "#f1bd00c0",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "#f1bd00c0",
            pointBorderWidth: 0,
            pointRadius: 0,
            pointHoverRadius: 0,
            borderWidth: 3,
            fill: 'origin',
            data: data,
            }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,

        scales: {
            xAxes: [{
                gridLines: {
                    display: false,
                },
                barPercentage: 0.7,
                barValueSpacing: 0,
                barDatasetSpacing: 0,
                barRadius: 0,
                ticks: {
                    display: true,
                    fontColor: "#9ba6b5",
                },
            }],
            yAxes: [{
                gridLines: {
                    display: false,
                },
                ticks: {
                    beginAtZero: true,
                    
                }  
            }]
        },
        legend: {
            display: false,
        },
    }  
});


/*chart-sexe-donut*/
            {% if results.studentsMan is defined and results.studentsWoman is defined %}
var chart = c3.generate({
    bindto: '#chart-sexe-donut', // id of chart wrapper
    data: {
        columns: [
            ['data2', {{ results.studentsMan | length}}],
            ['data1', {{ results.studentsWoman | length}}],
        ],
        type: 'donut', // default type of chart
        colors: {
            data1: '#FA4FB9',
            data2: '#145DF7'
        },
        names: { // name of each serie
            'data2': 'Homme : {{results.studentsMan | length}}',
            'data1': 'Femme : {{results.studentsWoman | length}}'
        }
    },
    axis: {},
    legend: {
        show: true, // hide legend
    },
    padding: {
        bottom: 0,
        top: 0
    }
});

{% else %}
    <p>0</p>
{% endif %}

    /*chart-month-bar*/

    {# var chart = c3.generate({
        bindto: '#chart-monthly', // id of chart wrapper

        data: {
            columns: [['data1', {% for data in dateByMonth %} {{ data.total }}, {% endfor %}]],
            type: 'bar', // default type of chart
            colors: {
                data1: '#0786F9'
            },
            names: { // name of each serie
                'data1': 'Jours'
            }
        },
        axis: {
            rotated: false,
            x: {
                type: 'category',
                // name of each category
                categories: [{%for data in dateByMonth %} 
                {% set trans_month_hash = {"January": "Janvier", "February": "Février", "March": "Mars",
                                           "April": "Avril", "May": "Mai", "June": "Juin", "August": "Aout",
                                           "September": "Septembre", "October": "Octobre", "December": "Decembre"} 
                %}
                    "{{ trans_month_hash[data.0.start | date('F')] }}", {% endfor %}
                ]
            }
        },
        bar: {
            width: 100
        },
        legend: {
            show: false, // hide legend
        },

        padding: {
            bottom: 0,
            top: 0
        }
    }); #}


/*chart-sexe-bar*/

{# $(document).ready(function () {

    columnColors = ['#FA4FB9', '#145DF7'];

    function setColumnBarColors(colors, chartContainer) {

        $('#' + chartContainer + ' .c3-chart-bars .c3-shape').each(function (index) {
            this.style.cssText += 'fill: ' + colors[index] + ' !important; stroke: ' + colors[index] + '; !important';
        });

        $('#' + chartContainer + ' .c3-chart-texts .c3-text').each(function (index) {
            this.style.cssText += 'fill: ' + colors[index] + ' !important;';
        });
    }

    var chart = c3.generate({
        bindto: '#chart-sexe-bar', // id of chart wrapper

        data: {

            columns: [['data1', {{ studentsWoman | length }}, {{ studentsMan | length }}]],
            type: 'bar', // default type of chart
            colors: {
                data1: '#7799E1'
            },
            names: { // name of each serie
                'data1': 'Etudiants'
            }
        },
        axis: {
            rotated: false,
            x: {
                type: 'category',
                // name of each category
                categories: ['Femme', 'Homme']
            },
            y: {
                show: false
            }
        },
        bar: {
            width: {
                ratio: 0.25
            }
        },

        legend: {
            show: false, // hide legend
        },

        padding: {
            bottom: 0,
            top: 0
        }
    });

    setColumnBarColors(columnColors, 'chart-sexe-bar');

    // Color turns to original when window is resized
    // To handle that
    $(window).resize(function () {
        setColumnBarColors(columnColors, 'chart-sexe-bar');
    });
}); #}

</script>