
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" href="{{path('default')}}">
                <img src="{{asset('assets/images/brand/school.png')}}" class="header-brand-img desktop-logo" alt="logo">
                <img src="{{asset('assets/images/brand/small_school.png')}}" class="header-brand-img toggle-logo"
                    alt="logo">
                <img src="{{asset('assets/images/brand/small_school.png')}}" class="header-brand-img light-logo"
                    alt="logo">
                <img src="{{asset('assets/images/brand/school_black.png')}}" class="header-brand-img light-logo1"
                    alt="logo">
            </a>
            <!-- LOGO -->
        </div>

        <div class="main-sidemenu">

            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                </svg></div>
            <ul class="side-menu">
                <li class="sub-category">
                    <h3>Main</h3>
                </li>

                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{{path('default')}}"><i
                            class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                </li>


                {% if app.user.role == 'Administrateur' %}
                <li class="sub-category">
                    <h3>Utilisateur</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{{path('view-all')}}"><i
                            class="side-menu__icon fe fe-users"></i><span class="side-menu__label">Espace
                            administrateur</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{{path('view-contact')}}"><i
                            class="side-menu__icon fe fe-mail"></i>
                            {# <span class="pulse-contact-danger notif-view">{{ contacts | length }}</span> #}
                            <span class="side-menu__label">Messages assistance</span></a>
                </li>

                <li class="sub-category">
                    <h3>Planning</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{{path('api')}}"><i
                        class="side-menu__icon fe fe-calendar"></i><span class="side-menu__label">Calendrier</span></a>
                </li>
                {% endif %}


                {% if app.user.role == 'Professeur' %}
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="#"><i
                        class="side-menu__icon fe fe-calendar"></i><span class="side-menu__label">Emploi du temps</span></a>
                </li>
                {% endif %}


                {% if app.user.role == 'Eleve' %}       
                <li class="sub-category">
                    <h3>Planning</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href=""><i
                        class="side-menu__icon fe fe-calendar"></i><span class="side-menu__label">Emploi du temps</span></a>
                </li>
                {% endif %}


            </ul>
        </div>
    </div>
</div>