{% extends 'base.html.twig' %}

{% block title %}
	Dashboard Professeur
{% endblock %}
{% set varStud = myStudents %}

{% block body %}

	{#
		<!--app-content open--> #}
	<div class="main-content app-content mt-0">
		<div
			class="side-app">

			{#
								<!-- CONTAINER --> #}
			<div
				class="main-container container-fluid">

				{# Header #}
				<div class="page-header">
					<h1 class="page-title">Professeur</h1>
				</div>
				{# Fin header #}
				{% block teacher %}

					{# Tableaux et modal #}
					<!-- ROW OPEN -->
						<div class="row"> <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
							<a class="card bg-primary img-card box-primary-shadow">
								{% embed "components/modal.html.twig" %}
									{% set modalType = "modal-xl effect-flip-verticalshow" %}
									{% set id = "xl-myStudent" %}
									{% set buttonTitle = "Ajouter un utilisateur" %}
									{% block button %}
										<button class="card-body text-start" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" data-bs-target="#{{id}}">
											<div class="d-flex">
												<div class="text-white me-4">
													<h2 class="mb-0 number-font">{{ varStud | length }}</h2>
													<p class="text-white mb-0">Liste des étudiants</p>
												</div>

												<div class="ms-auto">
													<i class="fa fa-user-o text-white fs-30 me-2 mt-2"></i>
												</div>
											</div>
										</button>
									{% endblock %}
									{% block modalTitle %}Tous les étudiants
									{% endblock %}
									{% block dashboard %}
										{% include "/administration/admin/view/view_students.html.twig" %}
									{% endblock %}
								{% endembed %}

							</a>
						</div>
						<!-- COL END -->
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
							<a class="card bg-azure img-card box-azure-shadow">
								{% embed "components/modal.html.twig" %}
									{% set modalType = "modal-sm" %}
									{% set id = "mySession" %}
									{% block button %}
										<button class="card-body text-start" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" data-bs-target="#{{id}}">
											<div class="d-flex">
												<div class="text-white">
													{% if app.user.session %}
														<h2 class="mb-0 number-font">{{ app.user.session}}</h2>
													{% else %}
														<h2 class="mb-0 number-font">Aucune session</h2>
													{% endif %}
													<p class="text-white mb-0">Session</p>
												</div>
												<div class="ms-auto">
													<i class="fa fa-tags text-white fs-30 me-2 mt-2"></i>
												</div>
											</div>
										</button>
									{% endblock %}
									{% block modalTitle %}Session
									{% endblock %}
									{% block dashboard %}
										<p>Bonjour
											{{app.user.fullname}}
											{% if app.user.session %}
												Vous avez une session du
												<strong>{{ app.user.session.startSession | date("d/m/Y") }}</strong>
												au
												<strong>{{ app.user.session.endSession | date("d/m/Y") }}</strong>
												avec
												<strong>{{varStud | length }}</strong>
												étudiants
											{% else %}
												Vous n'avez aucune session en cours
											{% endif %}
										</p>
									{% endblock %}
								{% endembed %}

							</a>
						</div>
						<!-- COL END -->
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
							<div class="card bg-success img-card box-success-shadow">

								<div class="card-body">
									<div class="d-flex">
										<div class="text-white">
											{% if app.user.payment %}

												<h2 class="mb-0 number-font text-start">{{app.user.payment}}€
													/ jour</h2>
											{% else %}
												<h2 class="mb-0 number-font text-start">0€ / jour</h2>
											{% endif %}

											<p class="text-white mb-0">Rémunération</p>
										</div>
										<div class="ms-auto">
											<i class="fa fa-dollar text-white fs-30 me-2 mt-2"></i>
										</div>
									</div>
								</div>


							</div>
						</div>
						{% if app.user.session %}

							<div class="card">

								<div class="card-body">
									<div class="table-responsive">
										<table class="table border text-nowrap text-md-nowrap table-hover mb-0">
											<thead>
												<tr>

													<th>Elève</th>
													<th>Intitulé</th>
													<th>Note</th>
													<th>Matière</th>
													<th>Professeur</th>
													<th>Remarque</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													{{form_start(formGrade, { 'attr' : { 'id': 'ajax' } })}}
													<td>{{form_widget(formGrade.user)}}</td>
													<td>{{form_widget(formGrade.name)}}</td>
													<td>{{form_widget(formGrade.grade)}}</td>
													<td>{{form_widget(formGrade.category)}}</td>
													<td>{{app.user.fullname}}</td>
													<td>{{form_widget(formGrade.comment)}}</td>
													<td>{{form_widget(formGrade.submit)}}</td>
													{{form_end(formGrade)}}
												</tr>
												{% for grade in gradeTeacher|sort|reverse %}

													<tr>


														
															<td class='clickable-row' data-href='{{path('profil_user', {'id': grade.user.id} ) }}'><a href="{{path('profil_user', {'id': grade.user.id} ) }}">{{grade.user}}</a></td>
														
														<td>{{grade.name}}</td>
														<td>{{grade.grade}}</td>
														<td>{{grade.category}}</td>
														<td>{{grade.teacher}}</td>
														<td>
															{% embed "components/modal.html.twig" %}
									{% set modalType = "modal-sm" %}
									{% set id = "comments" %}
									{% block button %}
									{% if grade.comment | length > 30 %}<button data-bs-toggle="modal" data-bs-target="#{{id}}">{% endif %}{{grade.comment | length > 30 ? grade.comment|slice(0, 30) ~ '...' : grade.comment}}{% if grade.comment | length > 30 %}
														</button>{% endif %}
									{% endblock %}
									{% block modalTitle %}Remarque
									{% endblock %}
									{% block dashboard %}
									
										<textarea class="mx-auto d-flex justify-content-center">{{grade.comment}}</textarea>
									{% endblock %}
								{% endembed %}
								</td>

														<td name="bstable-actions">
															<div
																class="btn-list">
																{# Bouton modifier #}
																<a href="{{path('edit_grade',{'id': grade.id})}}" id="bEdit" type="button" class="btn btn-sm btn-primary" target="_blank">
																	<span class="fe fe-edit"></span>
																</a>
																{# fin bouton modifier #}

																{# Bouton supprimer #}
																<a href="{{path('delete_grade',{'id': grade.id})}}" id="bDel" type="button" class="btn btn-sm btn-danger deleteUser">
																	<span class="fe fe-trash-2"></span>
																</a>
																{# fin bouton supprimer #}
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					{% endif %}

					{#
															<!-- ROW CLOSED --> #}
					{# Fin tableaux et modal #}


				{% endblock %}
			</div>
		</div>
	</div>
	<script>
		$('#ajax').submit(function (e) {
e.preventDefault();
let url = "{{ path('dashboard-teacher') }}";
let formSerialize = $(this).serialize();
$.post(url, formSerialize, function (response) { // your callback here
alert(response);
}, 'JSON');
});
 $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
	</script>

{% endblock %}