{% block addProgrammingLanguages %}

<div class="container-login100">
	<div class="wrap-login100 p-6 row">
		<span class="login100-form-title">
			Ajouter une technologie
		</span>
		<div class="col">

			{% for message in app.flashes('contact_success') %}
			<div class="col-md-12 alert alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}
		</div>

		{{form_start(formTechno)}}
		<div class="wrap-input100 validate-input input-group" data-bs-validate="">
			<figure class="input-group-text bg-white text-muted">
				<i class="zmdi zmdi-code" aria-hidden="true"></i>
			</figure>
			{{form_widget(formTechno.name)}}
		</div>

		<div class="wrap-input100 validate-input input-group" data-bs-validate="z">
			{{form_widget(formTechno.picture)}}
		</div>

		<div class="container-login100-form-btn">
			{{form_widget(formTechno.submit)}}
		</div>
		{{form_end(formTechno)}}

	</div>
</div>

{% endblock %}