{% block grades %}


		<span class="login100-form-title">
			Ajouter une note
		</span>
		{{form_start(formGrade, { 'attr' : { 'id': 'ajax' } })}}
		{% block addUser %}
		<div class="form-group">
			<label class="form-label">Elève</label>
			{{form_widget(formGrade.user)}}
		</div>
		{% endblock %}

		<div class="form-group">
			<label class="form-label">Cours</label>
			{{form_widget(formGrade.category)}}
		</div>
		<div class="form-group">
			<label class="form-label">Intitulé</label>
			{{form_widget(formGrade.name)}}
		</div>
		<div class="form-group">
			<label class="form-label">Note</label>
			{{form_widget(formGrade.grade)}}
		</div>
		<div class="form-group">
			<label class="form-label">Remarque</label>
			{{form_widget(formGrade.comment)}}
		</div>


		{{form_widget(formGrade.submit)}}

		{{form_end(formGrade)}}



{% endblock %}
